<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="myShop" class="com.ty.Shop">
		<property name="name">
			<value>D-Mart</value>
		</property>
		<property name="items">
			<map>
				<entry key="Apple" value="89.22"></entry>
				<entry key="Orange" value="73.3"></entry>
				<entry key="Graps" value="28.2"></entry>
				<entry key="Carrot" value="20.35"></entry>
			</map>
		</property>
	</bean>
</beans>